<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <!-- 全局配置文件 -->
  <context-param>
  <param-name>wang</param-name>
  <param-value>xiaobo</param-value>
  </context-param>
  
  <context-param>
  <param-name>xiao</param-name>
  <param-value>bo</param-value>
  </context-param>
  <filter>
  <filter-name>third</filter-name>
  <filter-class>cn.wedfrend.filter.ContextFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>third</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  <filter-name>second</filter-name>
  <filter-class>cn.wedfrend.filter.SecondFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>second</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  <filter-name>fister</filter-name>
  <filter-class>cn.wedfrend.filter.FirstFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>fister</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  
  
  
  <servlet>
    <servlet-name>LoadServlet</servlet-name>
    <servlet-class>cn.wedfrend.servlet.LoadServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>cn.wedfrend.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>cn.wedfrend.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>cn.wedfrend.servlet.ChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>cn.wedfrend.servlet.DeleteServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>LoadServlet</servlet-name>
    <url-pattern>/load</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/my</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/servlet/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/change</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>	
  
  
  
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
